body {
    padding: 70px;
    font: 50px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #ffe600;
  }
  
  .div {
  width: 100px; /* ширина элемента */	
  height: 100px; /* высота элемента */	
  background: blue; /* цвет заднего фона */	
  }
  .orangered-bg {
  background: rgb(247, 60, 3); /* цвет заднего фона */	
  }